.footer-logo {
  width: 200px;
}
ul.footer-links {
  list-style-type: none;
  li.footer-link {
    a {
      color: $black !important;
      &:hover {
        color: $black !important;
        text-decoration: underline;
      }
    }
  }
}
