form.form--contact {
  text-align: center;
  .content {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 20px;
  }
}
.content {
  font-size: 120%;
}
span.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc(100% - 2em);
  vertical-align: top;
}
textarea.input__field {
  resize: none;
  border-bottom: none;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
  -webkit-appearance: none;
  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  padding: 0 1em;
  width: 40%;
  color: $teal;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.ruri-error::after {
  background: red !important;
}

/* Ruri */
.input__field--ruri {
  width: 100%;
  background: transparent;
  padding: 0.5em 0;
  margin-bottom: 2em;
  color: $black;
}

.input__label--ruri {
  width: 100%;
  position: absolute;
  text-align: left;
  font-size: 1em;
  padding: 10px 0 5px;
  pointer-events: none;
}

.input__label--ruri::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: $black;
  left: 0;
  top: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.input__label-content--ruri {
  padding: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;
}

.input__field--ruri:focus + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
  background: $black;
  -ms-transform: scale3d(1, 0.25, 1);
  -webkit-transform: scale3d(1, 0.25, 1);
  -moz-transform: scale3d(1, 0.25, 1);
  -o-transform: scale3d(1, 0.25, 1);
  transform: scale3d(1, 0.25, 1);
}

.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
  color: $black;
  -ms-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  -webkit-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  -moz-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  -o-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
}

.value + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
  background: $black;
  -ms-transform: scale3d(1, 0.25, 1);
  -webkit-transform: scale3d(1, 0.25, 1);
  -moz-transform: scale3d(1, 0.25, 1);
  -o-transform: scale3d(1, 0.25, 1);
  transform: scale3d(1, 0.25, 1);
}

.value + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
  color: $black;
  -ms-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  -webkit-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  -moz-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  -o-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
  transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
}
