$nav-height: 40px;

.brow-nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  left: 0;
  top: 0;
  height: $nav-height;
  background-color: $black;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.brow-nav span {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 2em;
  line-height: 60px;
}

.nav-logo {
  width: 100px;
}

#hambmenu {
  position: relative;
  width: 40px;
  height: 35px;
  float: left;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hambmenu span {
  position: absolute;
  height: 3px;
  width: 80%;
  vertical-align: middle;
  margin: 8px 0 0 15px;
  background: $white;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  padding: 0px;
}

.hambclicker {
  content: '';
  height: 48px;
  width: 55px;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 9;
}

#hambmenu span:nth-child(1) {
  top: 0px;
}

#hambmenu span:nth-child(2),
#hambmenu span:nth-child(3) {
  top: 10px;
}

#hambmenu span:nth-child(4) {
  top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}
// Slide Out Menu
#menu {
  position: absolute;
  max-height: calc(100vh);
  overflow-y: scroll;
  top: $nav-height;
  width: 210px;
  background-color: $white;
  z-index: 98;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.menu-icon {
  width: 1rem;
  color: $black;
  margin-right: 3px;
}
#menu ul {
  margin-top: 0px;
  padding: 0px;
  color: $black;
  list-style-type: none;
  text-align: left;
}
#menu li {
  padding: 20px 0 20px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
#menu li:last-child {
  border-bottom: none;
}

li a {
  text-decoration: none;
  color: $black;
}

#menu.isopen {
  -webkit-transform: none;
  transform: none;
}

@media screen and (max-width: 420px) {
  .brow-nav span {
    font-size: 1.2em;
  }
}
