/* ---------------------------------------------- */
/* Font(s) Import
/* ---------------------------------------------- */
@font-face {
  font-family: Calligraffitti;
  src: url('./font/calligraffitti.ttf');
}
.font-calli {
  font-family: 'Calligraffitti', sans-serif, Helvetica Neue, Helvetica, Arial,
    sans-serif !important;
}
@font-face {
  font-family: Gadaquali;
  src: url('./font/gadaquali.ttf');
}
.font-gada {
  font-family: 'Gadaquali', sans-serif, Helvetica Neue, Helvetica, Arial,
    sans-serif !important;
}
