/* ---------------------------------------------- */
/* Font(s) Import
/* ---------------------------------------------- */
@font-face {
  font-family: DancingScript-Bold;
  src: url('./font/DancingScript-Bold.ttf');
}
.font-dancing-bold {
  font-family: 'DancingScript-Bold', sans-serif, Helvetica Neue, Helvetica,
    Arial, sans-serif !important;
}
@font-face {
  font-family: DancingScript-Regular;
  src: url('./font/DancingScript-Regular.ttf');
}
.font-dancing-reg {
  font-family: 'DancingScript-Regular', sans-serif, Helvetica Neue, Helvetica,
    Arial, sans-serif !important;
}
@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url('./font/PlayfairDisplay-Bold.ttf');
}
.font-playfair-bold {
  font-family: 'PlayfairDisplay-Bold', sans-serif, Helvetica Neue, Helvetica,
    Arial, sans-serif !important;
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url('./font/PlayfairDisplay-Regular.ttf');
}
.font-playfair-reg {
  font-family: 'PlayfairDisplay-Regular', sans-serif, Helvetica Neue, Helvetica,
    Arial, sans-serif !important;
}
@font-face {
  font-family: PlayfairDisplay-Black;
  src: url('./font/PlayfairDisplay-Black.ttf');
}
.font-playfair-black {
  font-family: 'PlayfairDisplay-Regular', sans-serif, Helvetica Neue, Helvetica,
    Arial, sans-serif !important;
}
/* ---------------------------------------------- */
/* Other
/* ---------------------------------------------- */
@font-face {
  font-family: Calligraffitti;
  src: url('./font/calligraffitti.ttf');
}
.font-calli {
  font-family: 'Calligraffitti', sans-serif, Helvetica Neue, Helvetica, Arial,
    sans-serif !important;
}
@font-face {
  font-family: Gadaquali;
  src: url('./font/gadaquali.ttf');
}
.font-gada {
  font-family: 'Gadaquali', sans-serif, Helvetica Neue, Helvetica, Arial,
    sans-serif !important;
}
/* ---------------------------------------------- */
/* Source Sans Pro
/* ---------------------------------------------- */
@font-face {
  font-family: SSP;
  src: url('./font/SourceSansPro-Black.ttf');
}
.font-ssp {
  font-family: 'SSP', sans-serif, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
@font-face {
  font-family: SSPB;
  src: url('./font/SourceSansPro-Bold.ttf');
}
.font-ssp-b {
  font-family: 'SSPB', sans-serif, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
@font-face {
  font-family: SSPL;
  src: url('./font/SourceSansPro-Light.ttf');
}
.font-ssp-l {
  font-family: 'SSPL', sans-serif, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
@font-face {
  font-family: SSPR;
  src: url('./font/SourceSansPro-Regular.ttf');
}
.font-ssp-r {
  font-family: 'SSPR', sans-serif, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
