*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-pills {
  @extend .montserrat-regular;
  cursor: pointer;
  background-color: transparent;
  margin-top: 10px;
  border: 1px solid $be-black;
  color: $be-black;
  white-space: normal;
  outline: 0;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0px 4px 30px rgba(50, 50, 93, 0.4);
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  &:hover {
    background-color: $be-black;
    color: $be-white;
    transform: translateY(-5px);
    box-shadow: 0px 7px 30px rgba(50, 50, 93, 0.75);
  }
}
.active-pill {
  cursor: pointer;
  background-color: $be-pink-light !important;
  color: $be-black !important;
  &:hover {
    background-color: $be-black !important;
    color: $be-white !important;
  }
}

.btn-bowler-pink--black {
  @extend .montserrat-regular;
  cursor: pointer;
  background-color: $be-pink-light;
  color: $be-black;
  white-space: normal;
  border: 0;
  outline: 0;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0px 4px 30px rgba(50, 50, 93, 0.4);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  &:hover {
    background-color: $be-black;
    color: $be-white;
    transform: translateY(-5px);
    box-shadow: 0px 7px 30px rgba(50, 50, 93, 0.75);
  }
}

.btn-bowler-black--pink {
  @extend .montserrat-regular;
  cursor: pointer;
  background-color: $be-black !important;
  color: $be-white !important;
  white-space: normal;
  border: 0;
  outline: 0;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  &:hover {
    background-color: $be-pink-light !important;
    color: $be-black !important;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}

.btn-bowler-white--black {
  @extend .montserrat-regular;
  cursor: pointer;
  background-color: $be-white !important;
  color: $be-black !important;
  white-space: normal;
  border: 0;
  outline: 0;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  &:hover {
    background-color: $be-black !important;
    color: $be-white !important;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}

.btn-bowler-white--pink {
  @extend .montserrat-regular;
  cursor: pointer;
  background-color: $be-white !important;
  color: $be-black !important;
  white-space: normal;
  border: 0;
  outline: 0;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  &:hover {
    background-color: $be-pink-light !important;
    color: $be-black !important;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}

.btn-bowler-sticky-footer {
  @extend .montserrat-regular;
  cursor: pointer;
  background-color: $be-white !important;
  color: $be-black !important;
  white-space: normal;
  border: 0;
  outline: 0;
  display: inline-block;
  width: 100%;
  line-height: 30px;
  max-width: 130px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  &:hover {
    background-color: $be-black !important;
    color: $be-white !important;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}

.fade-out-siblings {
  pointer-events: none;
}

.fade-out-siblings > * {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 2rem 1rem;
  cursor: pointer;

  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;
}

.fade-out-siblings:hover > * {
  opacity: 0.4;
}

.fade-out-siblings:hover > *:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media (min-width: 40em) {
  .fade-out-siblings {
    grid-template-columns: repeat(3, 1fr);
  }

  .fade-out-siblings > * {
    padding: 4rem 1rem;
  }
}
