footer {
  background-color: $be-black;
  position: relative;
  bottom: 80px;
}
.footer-left {
  display: flex;
  justify-content: flex-start;
}
.footer-right {
  display: flex;
  justify-content: flex-end;
}
