.info-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 38px;
  padding: 0;
  background-color: $be-black;
  color: $be-white;
}
.info-bar-item {
  font-size: 1rem;
  margin-right: 15px;
  &:hover {
    text-decoration: underline;
  }
}
