.content {
  font-size: 120%;
}
span.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: calc(100% - 2em);
  vertical-align: top;
}
textarea.input__field {
  resize: none;
  border-bottom: none;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
  -webkit-appearance: none;
  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  padding: 0 1em;
  width: 40%;
  color: $be-pink-dark;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.ruri-error::after {
  background: red !important;
}

/* Individual styles */
@import './inputs/ruri_inputs';
