#scroll-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 150px;
  right: -2px;
  display: none;
  padding: 0px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: $be-pink-light;
  }
}
.scroll-top-svg {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  color: $be-white;
  fill: $be-white;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.5);
  }
}
#scroll-top.show {
  display: block;
}
