.nav-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a:link,
a:visited {
  text-decoration: none;
  color: #282c34;
}
a:hover,
a:active {
  text-decoration: none;
  color: #282c34;
}

li.nav-top-item {
  cursor: pointer;
  color: #282c34;
  margin: 0px 0px 0px 10px;
  position: relative;
}

li.nav-top-item a:before,
li.nav-top-item a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #282c34;
  content: '';
  opacity: 0;
  transition: all 0.3s;
}

li.nav-top-item a:before {
  top: 0px;
  transform: translateY(10px);
}

li.nav-top-item a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

li.nav-top-item a:hover:before,
li.nav-top-item a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
