/* ---------------------------------------------- */
/* FontAwesome - SVG(s) */
/* ---------------------------------------------- */
.svg-arrow-up {
  color: $be-pink-medium;
  fill: $be-pink-medium;
  width: 1.333rem;
  &:hover {
    color: $be-black !important;
    fill: $be-black !important;
  }
}
.svg-facebook,
.svg-instagram {
  align-self: center;
  fill: $be-black;
  color: $be-black;
  width: 1.33rem;
}
.svg-envelope,
.svg-sign-in,
.svg-sign-out,
.svg-user {
  align-self: center;
  fill: $be-black;
  color: $be-black;
  width: 1.33rem;
  &:hover {
    fill: $be-pink-medium;
    color: $be-pink-medium;
  }
}
.svg-double-angle-up {
  color: $be-black;
  fill: $be-black;
  width: 1.333rem;
}

.svg-plus {
  fill: white;
  color: white;
  width: 1rem;
  top: 50%;
  left: 50%;
}

.svg-edit {
  fill: white;
  color: white;
  width: 1rem;
  top: 50%;
  left: 50%;
}

.svg-toggle {
  color: $be-black;
  fill: $be-black;
  width: 2.5rem;
  margin-right: -15px;
  &:hover {
    color: $be-pink-medium;
    fill: $be-pink-medium;
  }
}

.svg-calender,
.svg-mobile,
.svg-pencil,
.svg-user-plus,
.svg-sign-in-nav,
.svg-sign-out-nav,
.svg-question,
.svg-shopping,
.svg-unlock,
.svg-video {
  color: $be-black;
  fill: $be-black;
  width: 1rem;
  &:hover {
    color: $be-pink-medium;
    fill: $be-pink-medium;
  }
}

.svg-heart {
  color: $be-black;
  fill: $be-black;
  width: 1.3rem;
}

.svg-user-cirlce {
  color: $be-black;
  fill: $be-black;
  width: 1.3rem;
}
/* ---------------------------------------------- */
/* Custom Loaders - SVG(s) */
/* ---------------------------------------------- */
.puff-loader {
  stroke: $be-pink-dark;
}
